<!doctype html>
<html>
<head>
    <title>TEch STartUP</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<!-- {% block title %} -->
<!--     America's Sweetheart Software Engineering Company -->
<!-- {% endblock %} -->

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TEch STartUP</a>
        </div>
    </div>
</div>

{% block body %}

{% endblock %}
</body>
</html>